Repository CMPUT301F21T23/HabitTracker, pull requests merged in 2021-11, with the labels that each got.

#94 Shared Info Class
  code/HabitTracker/app/src/main/java/com/example/habittracker/User.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/utils/SharedInfo.java
Labels: enhancement, Profile, Urgent

#97 Progress and DB manager update
  code/HabitTracker/app/build.gradle
  code/HabitTracker/app/src/main/AndroidManifest.xml
  code/HabitTracker/app/src/main/java/com/example/habittracker/DatabaseManager.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/Habit.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/HabitActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/HabitEvent.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/NavBarManager.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/HabitViewActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/HomeActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/ListActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/ProgressTrackingActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/tracking/GraphUtil.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/tracking/ProgressUtil.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/utils/BooleanCallback.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/utils/HabitEventListCallback.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/utils/HabitListCallback.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/utils/UserDetailsCallback.java
  code/HabitTracker/app/src/main/res/layout/activity_habit_view.xml
  code/HabitTracker/app/src/main/res/layout/activity_progress_tracking.xml
Labels: database

#107 Following and Sharing features
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/LoginActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/ProfileFollowersActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/ProfileFollowingActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/ProfilePendingFollowersActivity.java
Labels: bug, enhancement, Profile, Following n Sharing, database

#109 Updated Progress, DateConverter
  code/HabitTracker/app/build.gradle
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/NavigationBarTests.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/DatabaseManager.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/HabitActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/HabitEvent.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/HabitViewActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/HomeActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/ListActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/ProgressTrackingActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/tracking/GraphUtil.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/tracking/ProgressUtil.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/utils/DateConverter.java
  code/HabitTracker/app/src/test/java/com/example/habittracker/ProgressTests.java
Labels: database

#123 Intent Testing on Profile Activities
  code/HabitTracker/app/build.gradle
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/ProfileActivityTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/ProfileFollowersActivityTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/ProfileFollowingActivityTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/ProfilePendingFollowersActivityTest.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/ProfileFollowersActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/ProfileFollowingActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/ProfilePendingFollowersActivity.java
Labels: intent testing

#132 Added intent test for login activity Closes #131
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/LoginActivityTest.java
Labels: intent testing

#135 Cleaned up LoginActivity.java and documented it Closes #47
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/LoginActivity.java
Labels: documentation

#136 update event intent testing
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/EventListTest.java
Labels: bug, Habit Events, intent testing

#145 Display the current user's name on the Profile page instead of the placeholder text closes #142
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/ProfileActivity.java
Labels: bug, enhancement

#147 Added User and SharedInfo Unit Tests closes #146
  code/HabitTracker/app/src/test/java/com/example/habittracker/SharedInfoTests.java
  code/HabitTracker/app/src/test/java/com/example/habittracker/UserTests.java
Labels: unit testing

#150 Replace Habit Event Detail/Edit/Delete fragment with an Activity
  code/HabitTracker/app/src/main/AndroidManifest.xml
  code/HabitTracker/app/src/main/java/com/example/habittracker/DatabaseManager.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/HabitEvent.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/eventlist/EventDetailActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/eventlist/EventListActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/fragments/AddEventFragment.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/utils/CustomDatePicker.java
  code/HabitTracker/app/src/main/res/layout/activity_event_detail.xml
  code/HabitTracker/app/src/main/res/layout/fragment_add_event.xml
Labels: Habit Events

#152 Update main branch
  .github/workflows/android.yml
  code/HabitTracker/app/build.gradle
  code/HabitTracker/app/src/main/AndroidManifest.xml
  code/HabitTracker/app/src/main/java/com/example/habittracker/DatabaseManager.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/HabitEvent.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/eventlist/EventDetailActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/eventlist/EventListActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/fragments/AddEventFragment.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/ProfileActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/utils/CustomDatePicker.java
  code/HabitTracker/app/src/main/res/drawable/riding.jpg
  code/HabitTracker/app/src/main/res/layout/activity_event_detail.xml
  code/HabitTracker/app/src/main/res/layout/fragment_add_event.xml
  code/HabitTracker/app/src/test/java/com/example/habittracker/ProgressTests.java
  code/HabitTracker/app/src/test/java/com/example/habittracker/SharedInfoTests.java
  code/HabitTracker/app/src/test/java/com/example/habittracker/UserTests.java
  doc/ui_mockups/UML-Page-1.drawio.png
Labels: bug, Habit Events

#157 Sharing feautures + bug fixes
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/EventListTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/NavigationBarTests.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/ProgressActivityTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/SharingActivityTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/testUtils/CustomActivityTestRule.java
  code/HabitTracker/app/src/main/AndroidManifest.xml
  code/HabitTracker/app/src/main/java/com/example/habittracker/DatabaseManager.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/Habit.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/NavBarManager.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/User.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/HomeActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/ProgressTrackingActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/SharingActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/fragments/SharingInputFragment.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/FollowingArrayAdapter.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/ProfileActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/sharing/SharingActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/sharing/SharingArrayAdapter.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/utils/HabitCallback.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/utils/StringCallback.java
  code/HabitTracker/app/src/main/res/drawable/sharing_activity_progress_bar.xml
  code/HabitTracker/app/src/main/res/layout/activity_home.xml
  code/HabitTracker/app/src/main/res/layout/activity_sharing.xml
  code/HabitTracker/app/src/main/res/layout/fragment_sharing_input.xml
  code/HabitTracker/app/src/main/res/layout/sharing_list_view_content.xml
Labels: Following n Sharing, database, intent testing

#163 Feedback on following a new user
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/SharingActivityTest.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/fragments/SharingInputFragment.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/sharing/SharingActivity.java
Labels: enhancement, Following n Sharing

#178 UI changes(add more icons)
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/eventlist/EventDetailActivity.java
  code/HabitTracker/app/src/main/res/layout/activity_event_detail.xml
  code/HabitTracker/app/src/main/res/layout/event_list.xml
Labels: Habit Events

#186 Bug fixes
  code/HabitTracker/app/src/main/java/com/example/habittracker/DatabaseManager.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/fragments/SharingInputFragment.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/FollowersArrayAdapter.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/FollowingArrayAdapter.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/PendingFollowersArrayAdapter.java
  code/HabitTracker/app/src/main/res/layout/followers_list_view_content.xml
  code/HabitTracker/app/src/main/res/layout/following_list_view_content.xml
Labels: bug, Following n Sharing

#188 Bug fix on sharing with old habits
  code/HabitTracker/app/src/main/java/com/example/habittracker/DatabaseManager.java
  doc/ui_mockups/habit_reorder_ui_mockup.png
  doc/ui_mockups/progress_UI_mockup.png
Labels: bug, documentation

#190 Added persistent feedback and logo to login and profile screen, and made the screens prettier. closes #182
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/HabitViewActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/LoginActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/profile/ProfileActivity.java
  code/HabitTracker/app/src/main/res/layout/activity_login.xml
  code/HabitTracker/app/src/main/res/layout/activity_profile.xml
Labels: enhancement

#194 Disable back button on login. Fix camera erasing location bug. closes #193 closes #153
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/LoginActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/eventlist/EventDetailActivity.java
Labels: bug

#195 fix intent testing for event and image
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/CustomListTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/EventDetailTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/EventListTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/ImageTest.java
Labels: intent testing

#196 Updated Tests, Fixed Bug
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/DatabaseManagerTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/EventDetailTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/EventListTest.java
  code/HabitTracker/app/src/androidTest/java/com/example/habittracker/ImageTest.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/HabitViewActivity.java
  code/HabitTracker/app/src/main/java/com/example/habittracker/activities/eventlist/EventListActivity.java
Labels: bug, database, unit testing
